$statistics: "statistics";

.#{$statistics} {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
}

@media (max-width: 575px) {
  .#{$statistics} {
    display: block;
  }
}