@import "scss/variables";
$ns: "bolivia-charts";

.#{$ns} {
  flex: 1;

  &__bar {
    color: $white;
    font-weight: bold;
    margin-right: 10px;

    .recharts-tooltip-wrapper {
      color: $blue;
    }

    .recharts-cartesian-axis {
      font-weight: 300;
    }
  }

  &__historical {
    color: $white;

    .recharts-legend-wrapper {
      font-weight: bold;
    }
  }

  &__mapa-riesgo {
    margin-top: 15px;

    img {
      width: 100%;
      height: 100%;
    }

    h5 {
      color: $white;
      text-align: center;
    }
  }
}

@media (max-width: 575px) {
  .#{$ns} {
    display: block;

    &__bar {
      display: block;
    }
  }
}