@import "scss/variables";
$ns: "header";

.#{$ns} {
  color: $white;
  width: 98%;
  margin: 5px auto;

  &__custom-card {
    margin: 5px;
    height: 10rem;
    text-align: center;

    .card-header {
      font-size: 1.5rem;
      padding: 1px;
      margin: 0 2rem;
      border-bottom: 4px $white solid;
    }

    .card-body {
      .card-title {
        font-size: 4rem;
      }
    }

    &--recovered {
      background-color: $recovered-gradient-first;
      background-image: linear-gradient(315deg, $recovered-gradient-first 0%, $recovered-gradient-second 74%);
    }

    &--confirmed {
      background-color: #7fcec5;
      background-image: linear-gradient(315deg, $confirmed-gradient-first 0%, $confirmed-gradient-second 74%);
    }

    &--death {
      background-color: $death-gradient-first;
      background-image: linear-gradient(315deg, $death-gradient-first 0%, $death-gradient-second 74%);
    }
  }
}

@media (max-width: 800px) {
  .#{$ns} {
    &__custom-card {
      .card-header {
        margin: 0;
        font-size: 1.2rem;
      }

      .card-body {
        .card-title {
          font-size: 3rem;
        }
      }
    }
  }
}

@media (max-width: 575px) {
  .#{$ns} {
    margin: 0 auto;

    &__custom-card {
      height: 5rem;
      margin: 5px;

      .card-body {
        padding: 0;
        margin: 0;

        .card-title {
          font-size: 2rem;
        }
      }
    }
  }
}